* {
	margin: 0;
	padding: 0;
	}

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 400;
	font-size: 4em;
}

h2 {
	font-weight: 300;
	font-size: 2em;
}

h3 {
	font-weight: 700;
	font-size: 1.5em;
	letter-spacing: 2px;
	color: #8cc63f;
	text-align: center;
	margin-top: 3em;
}

h4 {
	color: #404040;
	letter-spacing: 1px;
	font-size: 1.2em;
	margin-bottom: 15px;
	margin-top: 3em;
}

h5 {
	color: #8cc63f;
	letter-spacing: .8px;
	font-size: 1em;
	margin-bottom: 1em;
}

p {
	font-family: 'EB Garamond', serif;
	font-size: 1.1em;
	letter-spacing: .5px;
	color: #666666;
	line-height: 26px;
}

em {
	font-weight: 400;
	font-size: .8em;
	letter-spacing: .5px;
	color: #badc8b;
}

ul {
  	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	font-weight: 500;
  	letter-spacing: 1px;
}

li {
  	display: inline;
}

li a {
  	color: #384f19;
  	text-align: center;
  	padding: 1em;
  	text-decoration: none;
}

li a:hover {
  	color: #badc8b;
}

li a:active {
  	color: #9f9f9f;
}

i {
	font-size: 22px;
}

i a {
	text-decoration: none;
	color: #384f19;
	padding-left: .2em;
}

i a:hover {
	text-decoration: none;
	color: #badc8b;
}

.nav {
	float: right;
	margin-top: -2.7em;
	margin-right: 5em;
}

.material-icons {
	float: right;
	margin-top: -1.8em;
}

.container {
  	position: relative;
  	text-align: center;
  	color: #404040;
  	letter-spacing: 5px;
}

.container img {
	width: 100%;
	height: auto;
	margin-top: 2.3em;
}

.logo {
	width: 150px;
	margin: 1em;
	margin-left: 5em;
	margin-top: 1.8em;
}

.home {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.home h2 {
	line-height: 2em;
}

.menu, .about, .contact {
	margin-left: 12em;
	margin-right: 12em;
}

.contact {
	display: grid;
	grid-template-columns: 50% 50%;
}

#link {
	color: #8cc63f;
	text-decoration: none;
}

#link:hover {
	color: #badc8b;
}

#link:visited {
	color: #384f19;
}

#story {
	width: 100%;
	margin-top: 3em;
	margin-left: 0em;
	margin-right: 0em;
}

#last {
	margin-bottom: 100px;
}